<h1><%= @team_name %></h1>

<h2>Team Motto: <%= @team_motto %></h2>

<% @team_members.each do |member| %>
  <h3>Hero Name: <%= member[:name] %></h3>
  <h3>Hero Power: <%= member[:power] %></h3>
  <h3>Hero Biography: <%= member[:bio] %></h3>
<% end %>
